<div fxLayout="column" fxFlexFill>
  <mat-toolbar color="primary" class="mat-elevation-z8 p-2" fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="pl-3">
      <p>Aeries Micro Frontend App</p>
    </div>
  </mat-toolbar>

  <mat-drawer-container fxFlex autosize>
    <mat-drawer #drawer style="margin: 10px;background-color:#5151f2;">
      <div fxLayout="column" style="margin: 10px;">
       
       
        <a routerLink="/home">Home</a>
        <a routerLink="//angular-mf">Angular App</a>
        <a routerLink="/react-mf">React App</a>
        <a routerLink="/next-mf">Next JS App</a>
         
      <!--   <mat-divider></mat-divider>
        <button mat-raised-button routerLink="/angular-mf" (click)="drawer.toggle()" routerLinkActive="mat-primary" fxLayoutAlign="start" class="py-2 pr-5 m-2">
          <mat-icon class="mr-2">filter_2</mat-icon>Angular App</button>
        <mat-divider></mat-divider>
        <button mat-raised-button routerLink="/react-mf" (click)="drawer.toggle()" routerLinkActive="mat-primary" fxLayoutAlign="start" class="py-2 pr-5 m-2">
          <mat-icon class="mr-2">filter_3</mat-icon>React App</button>
        <mat-divider></mat-divider>
        <button mat-raised-button routerLink="/next-mf" (click)="drawer.toggle()" routerLinkActive="mat-primary" fxLayoutAlign="start" class="py-2 pr-5 m-2">
          <mat-icon class="mr-2">filter_4</mat-icon>Next App</button>
        <mat-divider></mat-divider> -->
      </div>
    </mat-drawer>

    <!--PAGES-->
    <div style="display: inline;">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>
</div>